
@model GTDoro.Core.Models.Identity.ApplicationUser
@{
    Layout = null;
}
<div class="box">
    <div class='box-header'>
        <div class='box-title'><i class="fa fa-fw fa-gear"></i> User Settings</div>
    </div><!-- /.box-header -->

    <div class='box-body'>
        @using (Html.BeginForm("UserSettings", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                @Html.LabelFor(u => u.FullName, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(u => u.FullName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group form-horizontal">
                @Html.LabelFor(u => u.Email, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    <label class="control-label">@Model.Email</label>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(u => u.TimeZoneId, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.DropDownListFor(u => u.TimeZoneId, GTDoro.Core.Models.Settings.TimeZoneList, "Time zone", new { @class = "form-control", autocomplete = "off" })

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-save"></i> Save settings</button>
                </div>
            </div>
        }
    </div>

</div>
