
@model GTDoro.Models.Project
@using GTDoro.Models;
@using GTDoro.ExtensionMethods;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Project";
    ViewBag.ItemDesc = Model != null ? Model.ItemName : string.Empty;
    ViewBag.BreadcrumbList = new List<string>
    {
        Html.ActionLink(Model.ItemName, "Details", "Project", new { id = Model.ID }, null).ToHtmlString()
    };
}
@Styles.Render("~/Content/morris")
@Scripts.Render("~/Scripts/morris")
<div id="project-layout">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section id="top-left" class="col-lg-7">
            @RenderBody()
        </section>
        <section id="top-right" class="col-lg-5 ">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab-calendar" data-toggle="tab">
                            <i class="fa fa-fw @(Operation.Calendar.GetAttributeIconCssClass())"></i> @(Operation.Calendar.GetAttributeDisplayName())
                        </a>
                    </li>
                    <li>
                        <a href="#tab-work-amount-chart" class="chart-tab-link" data-identifier="line" data-toggle="tab">
                            <i class="fa fa-fw @(Operation.WorkAmount.GetAttributeIconCssClass())"></i> @(Operation.WorkAmount.GetAttributeDisplayName())
                        </a>
                    </li>
                    <li>
                        <a href="#tab-work-division-chart" class="chart-tab-link" data-identifier="donut" data-toggle="tab">
                            <i class="fa fa-fw @(Operation.WorkDivision.GetAttributeIconCssClass())"></i> @(Operation.WorkDivision.GetAttributeDisplayName())
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-calendar">
                        @Html.Partial("Calendars/_CalendarMini", Model.CalendarViewModel)
                    </div>
                    <div class="tab-pane" id="tab-work-amount-chart">
                        @Html.Partial("Containers/_ChartWorkAmount")
                    </div>
                    <div class="tab-pane" id="tab-work-division-chart">
                        @Html.Partial("Containers/_ChartWorkDivision")
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section id="bottom">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab-task-list" data-toggle="tab">
                        <i class="fa fa-fw @(Operation.TaskList.GetAttributeIconCssClass())"></i>
                        @(Operation.TaskList.GetAttributeDisplayName() + " (" + Model.Tasks.Count.ToString() + ")")
                    </a>
                </li>
                <li>
                    <a href="#tab-action-list" data-toggle="tab">
                        <i class="fa fa-fw @(Operation.ActionList.GetAttributeIconCssClass())"></i>
                        @(Operation.ActionList.GetAttributeDisplayName() + " (" + Model.GetActions().Count.ToString() + ")")
                    </a>
                </li>
                <li>
                    <a href="#tab-sprint-list" data-toggle="tab">
                        <i class="fa fa-fw @(Operation.ActionList.GetAttributeIconCssClass())"></i>
                        @(Operation.SprintList.GetAttributeDisplayName() + " (" + Model.Sprints.Count.ToString() + ")")
                    </a>
                </li>
                <li>
                    <a href="#tab-work-history" data-toggle="tab">
                        <i class="fa fa-fw @(Operation.WorkHistory.GetAttributeIconCssClass())"></i>
                        @(Operation.WorkHistory.GetAttributeDisplayName())
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-task-list">
                    <div class="box box-primary">
                        <div class="box-header">
                            <div class="box-title"><i class="fa fa-fw @(Operation.TaskList.GetAttributeIconCssClass())"></i> @(Operation.TaskList.GetAttributeDisplayName())</div>
                        </div><!-- /.box-header -->
                        <div class="box-body no-padding">
                            @Html.Partial("Collections/_Tasks", Model.GetTasks())
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
                <div class="tab-pane" id="tab-action-list">
                    <div class="box box-success">
                        <div class="box-header">
                            <div class="box-title"><i class="fa fa-fw @(Operation.ActionList.GetAttributeIconCssClass())"></i> @(Operation.ActionList.GetAttributeDisplayName())</div>
                        </div><!-- /.box-header -->
                        <div class="box-body no-padding">
                            @Html.Partial("Collections/_Actions", Model.GetActions())
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
                <div class="tab-pane" id="tab-sprint-list">
                    <div class="box box-info">
                        <div class="box-header">
                            <div class="box-title"><i class="fa fa-fw @(Operation.ActionList.GetAttributeIconCssClass())"></i> @(Operation.SprintList.GetAttributeDisplayName())</div>
                        </div><!-- /.box-header -->
                        <div class="box-body no-padding">
                            @Html.Partial("Collections/_Sprints", Model.Sprints)
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
                <div class="tab-pane" id="tab-work-history">
                    <div class="box box-warning">
                        <div class="box-header">
                            <div class="box-title"><i class="fa fa-fw @(Operation.WorkHistory.GetAttributeIconCssClass())"></i> @(Operation.WorkHistory.GetAttributeDisplayName())</div>
                        </div><!-- /.box-header -->
                        <div class="box-body no-padding">
                            @*@{ViewBag.ContainerType = PomodoroContainerType.Project;}*@
                            @Html.Partial("Collections/_PomodoroSets", Model.PomodoroSets)
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $('#top-right ul.nav a.chart-tab-link').on('shown.bs.tab', function (e) {
        var types = $(this).attr("data-identifier");
        var typesArray = types.split(",");
        $.each(typesArray, function (key, value) {
            eval(value + ".redraw()");
        })
    });
</script>

@RenderSection("scripts", required: false)
