@model GTDoro.Models.PomodoroContainer
@using GTDoro.Models;

@{
    //ViewBag.NotSelectedTags needed
}

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-fw fa-tags"></i> Tags <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-tag-menu">
        @if(Model.OwnAndInheritedTags.Count() > 0)
        { 
            if (Model.OwnTags.Count() > 0)
            { 
                foreach (Tag tag in Model.OwnTags)
                {
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" title="Remove tag '@tag.Name'" class="gt-tag-@tag.GroupName"
                           href="@Url.Action("RemoveTag", Model.Type.ToString(), new { id = Model.Ident, tagid = tag.ID })">
                            <i class="fa fa-fw @tag.IconCssClass"></i> @tag.Name
                            <i class="gt-tag-operation pull-right fa fa-fw fa-times"></i>
                        </a>
                    </li>                
                }
                if (Model.InheritedTags.Count() > 0)
                {
                    <li role="presentation" class="divider"></li>
                }
            }
            if (Model.InheritedTags.Count() > 0)
            {
                foreach (Tag tag in Model.InheritedTags)
                {
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" title="Inherited tag (Read only)" class="gt-tag-@tag.GroupName">
                            <i class="fa fa-long-arrow-down"></i><i class="fa fa-fw @tag.IconCssClass"></i> @tag.Name 
                        </a>
                    </li>
                }
            }
        }
        else
        {
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" title="No added tags" class="gt-tag-disabled text-center"> &lt;no tags added&gt;</a>
                </li>
        }
        @if (ViewBag.NotSelectedTags.Count > 0)
        {
            <li role="presentation" class="divider"></li>                   
            foreach (Tag tag in ViewBag.NotSelectedTags)
                {
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" title="Add tag '@tag.Name'" class="gt-tag-inherited"
                       href="@Url.Action("AddTag", Model.Type.ToString(), new { id = Model.Ident, tagid = tag.ID })">
                        <i class="fa fa-fw @tag.IconCssClass"></i> @tag.Name
                        <i class="gt-tag-operation pull-right fa fa-fw fa-plus"></i>
                    </a>
                </li>
            }
        }
    </ul>
</li>

