@model IEnumerable<GTDoro.Models.Project>

@{
    ViewBag.Title = "Accordion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div style="float:left; margin-right: 50px;">
        <h2>Accordion</h2>

        <nav>
            <div class="menu-btn"><img src="/Content/img/btn-hamburger.png" alt=""></div>
            <ul class="menu">
                @foreach (var project in Model)
                {
                    <li>
                        @Html.ActionLink((!String.IsNullOrWhiteSpace(project.Name) ? project.Name : project.Code),
                             "Details", "Project", new { id = project.ID }, new { @class = "gt-project" })
                        @if (project.Tasks.Count > 0)
                        {
                            <ul>
                                @foreach (var task in project.Tasks)
                                {
                                    <li>
                                        @Html.ActionLink((!String.IsNullOrWhiteSpace(task.Name) ? task.Name : task.Code),
                                            "Details", "Task", new { id = task.ID }, new { @class = "gt-task" })
                                        @if (task.Actions.Count > 0)
                                        {
                                            <ul>
                                                @foreach (var action in task.Actions)
                                                {
                                                    <li>
                                                        @Html.ActionLink(action.Name, "Details", "Action", new { id = action.ID }, new { @class = "gt-action" })
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </nav>
    </div>
    <div style="float:left;">
        <h2>Navigation menu</h2>
        <ul class="nav-dropdown menu">
            @foreach (var project in Model)
            {
                <li>
                    @Html.ActionLink((!String.IsNullOrWhiteSpace(project.Name) ? project.Name : project.Code),
                         "Details", "Project", new { id = project.ID }, new { @class = "gt-project" })
                    @if (project.Tasks.Count > 0)
                    {
                        <ul>
                            @foreach (var task in project.Tasks)
                            {
                                <li>
                                    @Html.ActionLink((!String.IsNullOrWhiteSpace(task.Name) ? task.Name : task.Code),
                                         "Details", "Task", new { id = task.ID }, new { @class = "gt-task" })
                                    @if (task.Actions.Count > 0)
                                    {
                                        <ul>
                                            @foreach (var action in task.Actions)
                                            {
                                                <li>
                                                    @Html.ActionLink(action.Name, "Details", "Action", new { id = action.ID }, new { @class = "gt-action" })
                                                </li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </div>
</div>

@Scripts.Render("~/Scripts/toggle-menu")
@Styles.Render("~/Content/toggle-menu")