@model GTDoro.Models.Task
@using GTDoro.Models;
@using GTDoro.ExtensionMethods;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Task";
    ViewBag.ItemDesc = Model.ItemName;
    ViewBag.BreadcrumbList = new List<string> 
    { 
        Html.ActionLink(Model.Project.ItemName, "Details", "Project", new { id = Model.ProjectID }, null).ToHtmlString(),
        Html.ActionLink(Model.ItemName, "Details", "Task", new { id = Model.ID }, null).ToHtmlString()
    };
    Operation operation = (Operation)ViewBag.Operation;
}
@Styles.Render("~/Content/morris")
@Scripts.Render("~/Scripts/morris")
<div id="task-layout">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section id="top-left" class="col-lg-7">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="@(operation == Operation.TaskInfo ? "active" : "")">
                        <a href="../Details/@(Model.ID)" @*data-toggle="tab"*@>
                            <i class="fa fa-fw @(Operation.TaskInfo.GetAttributeIconCssClass())"></i> Info
                        </a>
                    </li>
                    <li class="@(operation == Operation.EditTask ? "active" : "")">
                        <a href="../Edit/@(Model.ID)" @*data-toggle="tab"*@>
                            <i class="fa fa-fw @(Operation.EditTask.GetAttributeIconCssClass())"></i> Edit
                        </a>
                    </li>
                    <li class="@(operation == Operation.CreateAction ? "active" : "")">
                        <a href="../CreateAction/@(Model.ID)" @*data-toggle="tab"*@>
                            <i class="fa fa-fw @(Operation.CreateAction.GetAttributeIconCssClass())"></i> @(Operation.CreateAction.GetAttributeDisplayName())
                        </a>
                    </li>
                    <li class="@(operation == Operation.DeleteTask ? "active" : "")">
                        <a href="../Delete/@(Model.ID)" @*data-toggle="tab"*@>
                            <i class="fa fa-fw @(Operation.DeleteTask.GetAttributeIconCssClass())"></i> Delete
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-fw fa-gear"></i> Options <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @{
                                if (Model.Status != Status.Active)
                                {
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="@Url.Action("ChangeStatus",
                                        new { id = Model.ID, status = (int)Status.Active })">
                                            @Html.Raw(Status.Active.GetIconHtmlTag()) Set as "Active"
                                        </a>
                                    </li>
                                }
                                if (Model.Status != Status.Completed)
                                {
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="@Url.Action("ChangeStatus",
                                        new { id = Model.ID, status = (int)Status.Completed })">
                                            @Html.Raw(Status.Completed.GetIconHtmlTag()) Set as "Completed"
                                        </a>
                                    </li>
                                }
                                if (Model.Status != Status.Cancelled)
                                {
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="@Url.Action("ChangeStatus",
                                        new { id = Model.ID, status = (int)Status.Cancelled })">
                                            @Html.Raw(Status.Cancelled.GetIconHtmlTag()) Set as "Cancelled"
                                        </a>
                                    </li>
                                }
                                if (Model.Status != Status.OnHold)
                                {
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="@Url.Action("ChangeStatus",
                                        new { id = Model.ID, status = (int)Status.OnHold })">
                                            @Html.Raw(Status.OnHold.GetIconHtmlTag()) Set as "On Hold"
                                        </a>
                                    </li>
                                }
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a class="select" href="@Url.Action("ItemSelector", "Search",
                            new { type = PomodoroContainerType.Project, target = ItemSelectorTarget.ChangeParentItem, SourceItemID = Model.ID })">
                                        <i class="fa fa-fw fa-bullseye gt-operation" title="Change Project"></i> Change Project
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="box box-primary">
                        <div class="box-header">
                            <div class="box-title">
                                <i class="fa fa-fw @(operation.GetAttributeIconCssClass())"></i>&nbsp;@(operation.GetAttributeDisplayName())
                            </div>
                            <div class="box-title pull-right">
                                <a title="Go to Project" href="@Url.Action("Details", "Project", new { id = Model.ProjectID })">
                                    <i class="fa fa-fw fa-arrow-up"></i>
                                </a>
                                @if (Model.Actions.Count() > 0)
                                {
                                    <a title="Go to Action List" href="#tab-action-list" data-toggle="tab" onclick="jump('bottom'); selectChildrenTab();">
                                        <i class="fa fa-fw fa-arrow-down"></i>
                                    </a>
                                }
                                @if (Model.NextSibling != null)
                                {
                                    <a title="Go to Next Task" href="@Url.Action("Details", "Task", new { id = ((Task)Model.NextSibling).ID })">
                                        <i class="fa fa-fw fa-arrow-right"></i>
                                    </a>
                                }
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body no-padding">
                            @RenderBody()
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </section>
        <section id="top-right" class="col-lg-5">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab-calendar" data-toggle="tab">
                            <i class="fa fa-fw @(Operation.Calendar.GetAttributeIconCssClass())"></i> @(Operation.Calendar.GetAttributeDisplayName())
                        </a>
                    </li>
                    <li>
                        <a href="#tab-work-amount-chart" class="chart-tab-link" data-identifier="line" data-toggle="tab">
                            <i class="fa fa-fw @(Operation.WorkAmount.GetAttributeIconCssClass())"></i> @(Operation.WorkAmount.GetAttributeDisplayName())
                        </a>
                    </li>
                    <li>
                        <a href="#tab-work-division-chart" class="chart-tab-link" data-identifier="donut" data-toggle="tab">
                            <i class="fa fa-fw @(Operation.WorkDivision.GetAttributeIconCssClass())"></i> @(Operation.WorkDivision.GetAttributeDisplayName())
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-calendar">
                        @Html.Partial("Calendars/_CalendarMini", Model.CalendarViewModel)
                    </div>
                    <div class="tab-pane" id="tab-work-amount-chart">
                        @Html.Partial("Containers/_ChartWorkAmount")
                    </div>
                    <div class="tab-pane" id="tab-work-division-chart">
                        @Html.Partial("Containers/_ChartWorkDivision")
                    </div>
                </div>
            </div>

        </section>

    </div>

    <section id="bottom">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab-action-list" data-toggle="tab">
                        <i class="fa fa-fw @(Operation.ActionList.GetAttributeIconCssClass())"></i>
                        @(Operation.ActionList.GetAttributeDisplayName() + " (" + Model.Actions.Count.ToString() + ")")
                    </a>
                </li>
                <li>
                    <a href="#tab-work-history" data-toggle="tab">
                        <i class="fa fa-fw @(Operation.WorkHistory.GetAttributeIconCssClass())"></i>
                        @(Operation.WorkHistory.GetAttributeDisplayName())
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-action-list">
                    <div class="box box-success">
                        <div class="box-header">
                            <div class="box-title"><i class="fa fa-fw @(Operation.ActionList.GetAttributeIconCssClass())"></i> @(Operation.ActionList.GetAttributeDisplayName())</div>
                        </div><!-- /.box-header -->
                        <div class="box-body no-padding table-responsive">
                            @Html.Partial("Collections/_Actions", Model.GetActions())
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
                <div class="tab-pane" id="tab-work-history">
                    <div class="box box-warning">
                        <div class="box-header">
                            <div class="box-title"><i class="fa fa-fw @(Operation.WorkHistory.GetAttributeIconCssClass())"></i> @(Operation.WorkHistory.GetAttributeDisplayName())</div>
                        </div><!-- /.box-header -->
                        <div class="box-body no-padding table-responsive">
                            @*@{ViewBag.ContainerType = PomodoroContainerType.Task;}*@
                            @Html.Partial("Collections/_PomodoroSets", Model.PomodoroSets)
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $('#top-right ul.nav a.chart-tab-link').on('shown.bs.tab', function (e) {
        var types = $(this).attr("data-identifier");
        var typesArray = types.split(",");
        $.each(typesArray, function (key, value) {
            eval(value + ".redraw()");
        })
    });
</script>

@RenderSection("scripts", required: false)
