@model IEnumerable<GTDoro.Core.Models.Task>
@using GTDoro.Core.Extensions;
@{
    bool showParentColumns = ViewBag.ShowParentColumns ?? false;
}
<table id="tasks" class="table table-striped gt-datatables">
    <thead>
        <tr>
            <th>Code</th>            
            @if (showParentColumns)
            {
                <th class="hidden-xs">Project</th>
            }
            <th class="hidden-3xs"><i class="fa fa-circle" title="Actions"></i></th>
            <th><i class="fa fa-wrench" title="Work units"></i></th>
            <th class="hidden-xxs">Effort</th>
            <th class="hidden-xs" title="Last Work"><i class="fa fa-clock-o"></i></th>
            <th class="hidden-3xs" title="Priority"><i class="fa fa-arrows-v"></i></th>
            <th title="Status"><i class="fa fa-spinner"></i></th>
            <th class="hidden-xxs" title="Progress">Prog.</th>
            <th class="hidden-3xs"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Code, "Details", "Task", new { id = item.ID }, new { @class = item.CssClass })
                </td>
                @if (showParentColumns)
                {
                    <td class="hidden-xs">
                        @Html.ActionLink(item.Project.Code, "Details", "Project", new { id = item.Project.ID }, new { @class = item.Project.CssClass })
                    </td>
                }
                <td class="hidden-3xs">
                    @Html.DisplayFor(modelItem => item.Actions.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletedPomodorosCount)
                </td>
                <td class="hidden-xxs" title="@(item.EffortInfo)">
                    <span class="badge @(item.EffortGroup.GetAttributeIconCssClass())">
                        @(String.IsNullOrWhiteSpace(item.Effort.ToIntegerPercentageString()) ?
                        item.CompletedPomodorosCount.ToString() : item.Effort.ToIntegerPercentageString())
                    </span>
                </td>
                <td class="hidden-xs" data-order="@(item.LastPomodoro.ToDateTicksOrZero())" title="@(item.LastPomodoro.ToDateStringOrEmpty() + " (" + item.LastPomodoro.ToDateRelativeString() + ")")">
                    @(item.LastPomodoro.ToDateRelativeShortString())
                </td>
                <td class="hidden-3xs" data-order="@((int)item.Priority)">
                    @Html.Raw(item.Priority.GetIconHtmlTag())
                </td>
                <td data-order="@((int)item.CalculatedStatus)">
                    @Html.Raw(item.StatusIconHtml)
                </td>
                <td class="hidden-xxs" title="@(item.ProgressInfo)">
                    <span class="badge @(item.ProgressGroup.GetAttributeIconCssClass())">
                        @(item.Progress.ToIntegerPercentageString())
                    </span>
                </td>
                <td class="hidden-3xs operations-cell">
                    <a href="@Url.Action("Edit", "Task", new { id = item.ID })"><i class="fa fa-fw fa-edit gt-operation" title="Edit"></i></a>
                    <a href="@Url.Action("Delete", "Task", new { id = item.ID })"><i class="fa fa-fw fa-times gt-operation" title="Delete"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Styles.Render("~/Content/dataTables")
@Scripts.Render("~/Scripts/dataTables")

<script type="text/javascript">
    $(document).ready(function () {
        $("#tasks").dataTable({
            "iDisplayLength": 20,
            "dom": '<"dti"if>t<"dti"p>',
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [$("#tasks th").length - 1] }
            ],
            "order": [[4, "desc"]]
        });
        $("#tasks").show();
    });
</script>