@model GTDoro.Core.ViewModels.AdminViewModel
@using GTDoro.Core.Extensions;
    @{
        ViewBag.Title = "Admin";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
<!-- Morris charts -->
@Styles.Render("~/Content/morris")
@Scripts.Render("~/Scripts/morris")
<!-- WYSIHTML5 editor -->
@Styles.Render("~/Content/wysihtml5")
@Scripts.Render("~/Scripts/wysihtml5")

<style>
    textarea {
        width: 100%;
        height: 200px;
        font-size: 14px;
        line-height: 18px;
        border: 1px solid #dddddd;
        padding: 10px;
    }
</style>

<div class="row">
    <div class="col-md-8">
        <div class="box">
            <div class='box-header'>
                <h3 class='box-title'><i class="fa fa-fw fa-users"></i> Registered Users</h3>
            </div><!-- /.box-header -->
            <table id="table-users" class="table table-striped gt-datatables">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th class="hidden-md">Full name</th>
                        @*<th>Country</th>*@
                        <th>Date</th>
                        <th><i class="fa fa-bullseye" title="Projects"></i></th>
                        <th><i class="fa fa-dot-circle-o" title="Tasks"></i></th>
                        <th><i class="fa fa-circle" title="Actions"></i></th>
                        <th>
                            <i class="fa fa-wrench" title="Work units"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Users.ToList())
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td class="hidden-md">
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            @*<td>*@
                            @*@Html.DisplayFor(modelItem => item.Country)*@
                            @*Default
                            </td>*@
                            @*<td>
                                @Html.DisplayFor(modelItem => item.EmailAddress)
                            </td>*@
                            <td data-order="@(item.CreationDateLocal.ToTicksOrZero())">
                                @Html.DisplayFor(modelItem => item.CreationDateLocal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Projects.Count)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tasks.Count)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Actions.Count)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pomodoros.Count)
                            </td>
                            @*<td>
                                @Html.ActionLink("Edit", "Edit", "Action", new { id = item.ID }, null) |
                            @Html.ActionLink("Details", "Details", "Action", new { id = item.ID }, null) |
                            @Html.ActionLink("Delete", "Delete", "Action", new { id = item.ID }, null)

                                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class='box'>
            <div class='box-header'>
                <h3 class='box-title'><i class="fa fa-fw fa-plus"></i><i class="fa fa-user"></i><i class="fa fa-fw fa-mail-reply"></i> Registration Message</h3>
            </div><!-- /.box-header -->
            <div class='box-body pad'>
                @using (Html.BeginForm()) {
                    @Html.AntiForgeryToken()
                    
                    @Html.TextAreaFor(m => m.MessageHtmlContent,
                        new { @class = "textarea form-control", @rows = 3, @placeholder = "Enter the message for the new registered users" }) 
                    <br />
                    <button type="submit" class="btn btn-primary" name="submit" value="SaveRegMessage">
                        <i class="fa fa-fw fa-save">&nbsp;</i>Save
                    </button>
                }
            </div>
        </div> 

        <div class='box'>
            <div class='box-header'>
                <h3 class='box-title'><i class="fa fa-fw fa-users"></i><i class="fa fa-fw fa-mail-reply-all"></i> Send message to users</h3>
            </div><!-- /.box-header -->
            <div class='box-body pad'>
                @using (Html.BeginForm()) {
                    @Html.AntiForgeryToken()
                    
                    <br />
                    <textarea class="textarea form-control" rows="3" name="MessageHtmlContent" placeholder="Enter the message to be sent to the users"></textarea>
                    <br />     
                    <button type="submit" class="btn btn-primary" name="submit" value="SendMessage">
                        <i class="fa fa-fw fa-envelope-o">&nbsp;</i>Send
                    </button>
                }
            </div>
        </div> 
        
    </div>
    <div class="col-md-4">
        <div class="box">
        @Html.Partial("Charts/_MorrisLineChart", Model.RegisteredUsersChartViewModel)
        </div>   
        @*
        <!-- DONUT CHART -->
        <!--
        <div class="box box-danger">
            <div class="box-header">
                <h3 class="box-title">Users per Country</h3>
            </div>
            <div class="box-body chart-responsive">
                <div class="chart" id="sales-chart" style="height: 300px; position: relative;"></div>
            </div>
        </div>
        -->
        <!-- /.box -->
        *@
        </div>
    </div>
    @*
    <!-- page script -->
    <script type="text/javascript">
            $(function() {
                "use strict";

                //DONUT CHART
                var donut = new Morris.Donut({
                    element: 'sales-chart',
                    resize: true,
                    colors: ["#3c8dbc", "#f56954", "#00a65a"],
                    data: [
                        {label: "Download Sales", value: 12},
                        {label: "In-Store Sales", value: 30},
                        {label: "Mail-Order Sales", value: 20}
                    ],
                    hideHover: 'auto'
                });
            })
        </script>*@
@Styles.Render("~/Content/dataTables")
@Scripts.Render("~/Scripts/dataTables")

<script type="text/javascript">
    $(function () {
        $("#table-users").dataTable({
            "pagingType": "simple_numbers",
            "iDisplayLength": 20,
            "dom": '<"dti"if>t<"dti"p>'
        });
        $("#table-users").show();
    });
    $(function () {
        //bootstrap WYSIHTML5 - text editor
        $(".textarea").wysihtml5();
    });
</script>       