@model GTDoro.Core.Models.Sprint
@using GTDoro.Core.Models;
@using GTDoro.Core.Extensions;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sprint";
    ViewBag.ItemDesc = Model.ItemName;
    ViewBag.BreadcrumbList = new List<string> 
    { 
        Html.ActionLink(Model.Project.ItemName, "Details", "Project", new { id = Model.ProjectID }, null).ToHtmlString(),
        Html.ActionLink(Model.ItemName, "Details", "Sprint", new { id = Model.ID }, null).ToHtmlString()
    };
    //Operation operation = (Operation)ViewBag.Operation;
}
@Styles.Render("~/Content/morris")
@Scripts.Render("~/Scripts/morris")
<div id="sprint-layout">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section id="top-left" class="col-lg-7">
            @RenderBody()
        </section>
        <section id="top-right" class="col-lg-5">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab-calendar" data-toggle="tab">
                            <i class="fa fa-fw @(Operation.Calendar.GetAttributeIconCssClass())"></i> @(Operation.Calendar.GetAttributeDisplayName())
                        </a>
                    </li>
                    <li>
                        <a href="#tab-amount" class="chart-tab-link" data-identifier="line" data-toggle="tab">
                            <i class="fa fa-fw @(Operation.WorkAmount.GetAttributeIconCssClass())"></i> @(Operation.WorkAmount.GetAttributeDisplayName())
                        </a>
                    </li>
                    <li>
                        <a href="#tab-division" class="chart-tab-link" data-identifier="donut" data-toggle="tab">
                            <i class="fa fa-fw @(Operation.WorkDivision.GetAttributeIconCssClass())"></i> @(Operation.WorkDivision.GetAttributeDisplayName())
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-calendar">
                        @Html.Partial("Calendars/_CalendarMini", Model.CalendarViewModel)
                    </div>
                    <div class="tab-pane" id="tab-amount">
                        @Html.Partial("Containers/_ChartWorkAmount")
                    </div>
                    <div class="tab-pane" id="tab-division">
                        @Html.Partial("Containers/_ChartWorkDivision")
                    </div>
                </div>
            </div>

        </section>

    </div>

    <section id="bottom">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab-actions" data-toggle="tab">
                        <i class="fa fa-fw @(Operation.ActionList.GetAttributeIconCssClass())"></i>
                        @(Operation.ActionList.GetAttributeDisplayName() + " (" + Model.GetActions().Count.ToString() + ")")
                    </a>
                </li>
                <li>
                    <a href="#tab-work" data-toggle="tab">
                        <i class="fa fa-fw @(Operation.WorkHistory.GetAttributeIconCssClass())"></i>
                        @(Operation.WorkHistory.GetAttributeDisplayName())
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-actions">
                    <div class="box box-success">
                        <div class="box-header">
                            <div class="box-title"><i class="fa fa-fw @(Operation.ActionList.GetAttributeIconCssClass())"></i> @(Operation.ActionList.GetAttributeDisplayName())</div>
                        </div><!-- /.box-header -->
                        <div class="box-body no-padding table-responsive">
                            @Html.Partial("Collections/_Actions", Model.GetActions())
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
                <div class="tab-pane" id="tab-work">
                    <div class="box box-warning">
                        <div class="box-header">
                            <div class="box-title"><i class="fa fa-fw @(Operation.WorkHistory.GetAttributeIconCssClass())"></i> @(Operation.WorkHistory.GetAttributeDisplayName())</div>
                        </div><!-- /.box-header -->
                        <div class="box-body no-padding table-responsive">
                            @*@{ViewBag.ContainerType = PomodoroContainerType.Sprint;}*@
                            @Html.Partial("Collections/_PomodoroSets", Model.PomodoroSets)
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $('#top-right ul.nav a.chart-tab-link').on('shown.bs.tab', function (e) {
        var types = $(this).attr("data-identifier");
        var typesArray = types.split(",");
        $.each(typesArray, function (key, value) {
            eval(value + ".redraw()");
        })
    });
</script>

@RenderSection("scripts", required: false)
