@model GTDoro.Models.Project
@using GTDoro.Models;
@using GTDoro.ExtensionMethods;

<div class="gt-form-data">
    <div class="gt-form-group">
        <label class="gt-lbl gt-lbl-title">
            Name
        </label>
        <span>
            <span class="@(Model.CssClass)">@Html.ActionLink(Model.ItemName, "Details", "Project", new { id = Model.ID }, null)</span>
        </span>
    </div>
    <hr />
    @if (string.IsNullOrWhiteSpace(Model.Description) == false)
    {
        <div class="gt-form-group">
            @Html.LabelFor(model => model.Description, new { @class = "gt-lbl" })
            <span class="multiline">@Model.Description.RemoveDuplicateLineBreaks()</span>
        </div>
    }
    <div class="row">
        <div class="col-sm-6">
            <div class="gt-form-group">
                <label class="gt-lbl">
                    @Html.DisplayNameFor(model => model.Code)
                </label>
                <span class="@(Model.CssClass)">
                    @Html.ActionLink(Model.Code, "Details", new { id = Model.ID })
                </span>
            </div>
            <div class="gt-form-group">
                @Html.LabelFor(model => model.CalculatedStatus, new { @class = "gt-lbl" })
                <span>
                    @Html.Raw(Model.StatusIconHtml)
                    @Html.DisplayFor(model => model.CalculatedStatus)
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="gt-form-group">
                <label class="gt-lbl">Work units</label>
                <span>
                    <i class="fa fa-fw fa-wrench"></i>
                    @Model.CompletedPomodorosCount
                </span>
            </div>
            <div class="gt-form-group">
                @Html.LabelFor(model => model.CreationDateLocal, new { @class = "gt-lbl" })
                <span title="@(Model.CreationDateLocal.ToStringOrEmpty())" class="@(!Model.CreationDate.HasValue ? "null-value" : "")">
                    <i class="fa fa-fw fa-clock-o"></i>
                    @Model.CreationDateLocal.ToRelativeString()
                </span>
            </div>
            <div class="gt-form-group">
                @Html.LabelFor(model => model.Effort, new { @class = "gt-lbl" })
                <span title="@(Model.EffortInfo)" class="badge @(Model.EffortGroup.GetAttributeIconCssClass())">
                    @(String.IsNullOrWhiteSpace(Model.Effort.ToIntegerPercentageString()) ?
                    Model.CompletedPomodorosCount.ToString() : Model.Effort.ToIntegerPercentageString())
                </span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="gt-form-group">
                <label class="gt-lbl" for="CompletedPomodorosCount">Last Work</label>
                <span title="@(Model.LastPomodoro.ToDateStringOrEmpty())">
                    <i class="fa fa-fw fa-clock-o"></i>
                    @(Model.LastPomodoro.ToDateRelativeString())
                </span>
            </div>
            <div class="gt-form-group">
                @Html.LabelFor(model => model.EndDateLocal, new { @class = "gt-lbl" })
                <span class="@(!Model.EndDateLocal.HasValue ? "null-value" : "")">
                    <i class="fa fa-fw fa-clock-o"></i>
                    @Model.EndDateLocal.ToDateStringOrDefault()
                </span>
            </div>
            <div class="gt-form-group">
                @Html.LabelFor(model => model.Progress, new { @class = "gt-lbl" })
                <span title="@(Model.ProgressInfo)" class="badge @(Model.ProgressGroup.GetAttributeIconCssClass())">
                    @(String.IsNullOrWhiteSpace(Model.Progress.ToIntegerPercentageString()) ?
                        Model.CompletedPomodorosCount.ToString() : Model.Progress.ToIntegerPercentageString())
                </span>
            </div>
        </div>
    </div>    
    @Html.Partial("Panels/Tags/_TagsRowList")
</div>

