@model GTDoro.Models.Project
@using GTDoro.Models;

@{
    ViewBag.Operation = GTDoro.Models.Operation.CreateSprint;
    Sprint newSprint = (Sprint) ViewBag.NewSprint;
}

@using (Ajax.BeginForm("CreateSprint", new AjaxOptions { UpdateTargetId = "form-create" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => newSprint.ProjectID)

        <div class="form-group">
            @Html.LabelFor(model => newSprint.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => newSprint.Name, new { @class = "form-control", @maxlength = Settings.PTA_NAME_MAX_LENGTH })
                @Html.ValidationMessageFor(model => newSprint.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => newSprint.InitialComment, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => newSprint.InitialComment, new { @class = "form-control item-description", @maxlength = Settings.PTA_DESCRIPTION_MAX_LENGTH })
                @Html.ValidationMessageFor(model => newSprint.InitialComment)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => newSprint.FinalComment, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => newSprint.FinalComment, new { @class = "form-control item-description", @maxlength = Settings.PTA_DESCRIPTION_MAX_LENGTH })
                @Html.ValidationMessageFor(model => newSprint.FinalComment)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => newSprint.StartDate, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => newSprint.StartDate)
                        @Html.ValidationMessageFor(model => newSprint.StartDate)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => newSprint.EndDate, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => newSprint.EndDate)
                        @Html.ValidationMessageFor(model => newSprint.EndDate)
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group last-form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary" name="submitButton" value="0">
                    <i class="fa fa-fw fa-save">&nbsp;</i>Save
                </button>
                <span class="separator">&nbsp;</span>
                <button type="submit" class="btn btn-primary" name="submitButton" value="1">
                    <i class="fa fa-save"></i>
                    @*<i class="fa fa-fw fa-plus">&nbsp;</i>Create more*@
                </button>
            </div>
        </div>
    </div>
}
