@model PagedList.IPagedList<GTDoro.Models.Project>
@using PagedList.Mvc;
@using GTDoro.ExtensionMethods;

@{
    ViewBag.Title = "Workspace";
    ViewBag.SubNavTitle = "Projects";
    ViewBag.Operation = GTDoro.Models.Operation.ProjectList;
    bool Isfiltered = (ViewBag.IsFiltered ?? false);
    RouteValueDictionary dict = ViewBag.RouteFiltersForPagination;
}
<div class="box box-danger">
    <div class="box-header">
        <h3 class="box-title"><i class="fa fa-fw fa-bullseye"></i> Project List</h3>
        <div class="box-tools pull-right">            
            <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Toggle Filters" onclick="$('#filter-bars-container').slideToggle()"><i class="fa fa-fw fa-filter"></i> Filters</button>
            <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Create New Project" onclick="location.href = '/Workspace/CreateProject'"><i class="fa fa-fw fa-plus-circle"></i> Create Project</button>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div id="filter-bars-container" style="display: @(Isfiltered ? "block" : "none")">
            @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "filter" }))
            {
                @Html.Hidden("filtering", Isfiltered ? "1" : string.Empty)
                <div class="row">
                    <div class="col-xs-6">
                        @Html.Partial("Panels/Filters/_StatusFilter")
                    </div>
                </div>
                <div>                    
                    @{ViewBag.Mode = GTDoro.Models.FilterBarMode.Filter; }
                    @Html.Partial("Panels/Filters/_TagFilter")
                </div>
            }
        </div>
    </div>
    @using (Html.BeginForm())
        {

        @Html.AntiForgeryToken()

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="checkbox-col"></th>
                    <th><a href="/Project?sortOrder=@(ViewBag.CodeSortParm)">Code</a></th>
                    <th class="hidden-xs hidden-sm hidden-md"><a href="/Project?sortOrder=@(ViewBag.NameSortParm)">Name</a></th>
                    <th class="hidden-xxs"><a href="/Project?sortOrder=@(ViewBag.LastPomodoroSortParm)">Last Work</a></th>
                    <th class="hidden-3xs"><a href="/Project?sortOrder=@(ViewBag.ProgressSortParm)">Progress</a></th>
                    <th><a href="/Project?sortOrder=@(ViewBag.StatusSortParm)"><i class="fa fa-spinner" title="Status"></i></a></th>
                    <th class="hidden-xs"><a href="/Project?sortOrder=@(ViewBag.TasksSortParm)"><i class="fa fa-dot-circle-o" title="Tasks"></i></a></th>
                    <th class="hidden-xs"><a href="/Project?sortOrder=@(ViewBag.ActionsSortParm)"><i class="fa fa-circle" title="Actions"></i></a></th>
                    <th><a href="/Project?sortOrder=@(ViewBag.PomodorosSortParm)"><i class="fa fa-wrench" title="Work units"></i></a></th>
                    <th class="hidden-xxs"><a href="/Project?sortOrder=@(ViewBag.EffortSortParm)">Effort</a></th>
                    <th class="hidden-xs hidden-sm hidden-md"><a href="/Project?sortOrder=@(ViewBag.CreationDateSortParm)">Creation Date</a></th>
                    <th class="hidden-3xs"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="checkbox-col">
                            <input type="checkbox" name="selectedProjects" value="@item.ID" />
                        </td>
                        <td>
                            @Html.ActionLink(item.Code, "Details", "Project", new { id = item.ID }, new { @class = item.CssClass })
                        </td>
                        <td class="hidden-xs hidden-sm hidden-md">
                            <span class="limited-size-column">@Html.DisplayFor(modelItem => item.Name)</span>
                        </td>
                        <td class="hidden-xxs" title="@(item.LastPomodoro.ToDateStringOrEmpty())">
                            <i class="fa fa-fw fa-clock-o"></i> @(item.LastPomodoro.ToDateRelativeString())
                        </td>
                        <td class="hidden-3xs" title="@(item.ProgressInfo)">
                            <span class="badge @(item.ProgressGroup.GetAttributeIconCssClass())">
                                @(String.IsNullOrWhiteSpace(item.Progress.ToIntegerPercentageString()) ?
                                item.CompletedPomodorosCount.ToString() : item.Progress.ToIntegerPercentageString())
                            </span>
                        </td>
                        <td>
                            @Html.Raw(item.StatusIconHtml)
                        </td>
                        <td class="hidden-xs">
                            @Html.DisplayFor(modelItem => item.Tasks.Count)
                        </td>
                        <td class="hidden-xs">
                            @Html.DisplayFor(modelItem => item.GetActions().Count)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompletedPomodorosCount)
                        </td>
                        <td class="hidden-xxs" title="@(item.EffortInfo)">
                            <span class="badge @(item.EffortGroup.GetAttributeIconCssClass())">
                                @(String.IsNullOrWhiteSpace(item.Effort.ToIntegerPercentageString()) ?
                        item.CompletedPomodorosCount.ToString() : item.Effort.ToIntegerPercentageString())
                            </span>
                        </td>
                        <td class="hidden-xs hidden-sm hidden-md">
                            @Html.DisplayFor(modelItem => item.CreationDateLocal)
                        </td>
                        <td class="hidden-3xs operations-cell">
                            <a href="@Url.Action("Edit", "Project", new { id = item.ID })"><i class="fa fa-fw fa-edit gt-operation" title="Edit"></i></a>
                            <a href="@Url.Action("Delete", "Project", new { id = item.ID })"><i class="fa fa-fw fa-times gt-operation" title="Delete"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="multiple-edit-bars-container" class="box-body" style="display:none">
        <div>
            @{ViewBag.Mode = GTDoro.Models.FilterBarMode.MultipleEdit; }
            @Html.Partial("Panels/Filters/_TagFilter")
        </div>
        <div class="form-horizontal">
            <div class="col-xs-offset-1 col-sm-5">
                <div class="form-group">
                    <label class="col-xs-5 control-label" for="newstatus">Change status to</label>
                    <span class="col-xs-7">
                        @Html.DropDownList("NewStatus", EnumHelper.GetSelectList(typeof(GTDoro.Models.Status)), "(No change)", new { @class = "form-control" })
                    </span>
                </div>
            </div>
            <div class="col-xs-offset-1 col-xs-3 col-sm-5">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-save"></i> Modify Selected</button>
                </div>
            </div>
        </div>
    </div>
    }
<div class="box-body clear">
    <span>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span>
    <div class="box-tools pull-right">
        <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Toggle Multiple Edit" onclick="toggleEditMode()"><i class="fa fa-fw fa-files-o"></i> Multiple edit</button>
    </div>

    @Html.PagedListPager(Model, page => Url.Action("Index",
        dict.AddKeyValueToRouteValueDictionary("Page", page.ToString())))

</div>

<script type="text/javascript">
    $('#filter-bars-container .inline-checkbox input').on('ifToggled', function (event) {
        $('form.filter').submit();
    })
    function toggleEditMode() {
        $('#multiple-edit-bars-container').slideToggle();
        $('.checkbox-col .icheckbox_minimal').toggle();
    }
</script>