@model GTDoro.Core.Models.Project
@using GTDoro.Core.Models;
@using GTDoro.Core.Extensions;

@{
    Layout = "~/Views/Shared/Layouts/_ProjectLayout.cshtml";
    Operation operation = (Operation)(ViewBag.Operation ?? Operation.ProjectInfo);
}

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="@(operation == Operation.ProjectInfo ? "active" : "")">
            <a href="#tab-info" data-toggle="tab">
                <i class="fa fa-fw @(Operation.ProjectInfo.GetAttributeIconCssClass())"></i> Info
            </a>
        </li>
        <li class="@(operation == Operation.EditProject ? "active" : "")">
            <a href="#tab-edit" data-toggle="tab">
                <i class="fa fa-fw @(Operation.EditProject.GetAttributeIconCssClass())"></i> Edit
            </a>
        </li>
        <li class="@(operation == Operation.CreateTask ? "active" : "")">
            <a href="#tab-create" data-toggle="tab">
                <i class="fa fa-fw @(Operation.CreateTask.GetAttributeIconCssClass())"></i> @(Operation.CreateTask.GetAttributeDisplayName())
            </a>
        </li>
        <li class="@(operation == Operation.CreateSprint ? "active" : "")">
            <a href="#tab-create-sprint" data-toggle="tab">
                <i class="fa fa-fw @(Operation.CreateSprint.GetAttributeIconCssClass())"></i> @(Operation.CreateSprint.GetAttributeDisplayName())
            </a>
        </li>
        <li class="@(operation == Operation.DeleteProject ? "active" : "")">
            <a href="#tab-delete" data-toggle="tab">
                <i class="fa fa-fw @(Operation.DeleteProject.GetAttributeIconCssClass())"></i> Delete
            </a>
        </li>        
        @Html.Partial("Panels/Tags/_TagsDropDownMenu")
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-fw fa-gear"></i> Options <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                @{
                    if (Model.Status != Status.Active)
                    {
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="@Url.Action("ChangeStatus",
                                        new { id = Model.ID, status = (int)Status.Active })">
                                @Html.Raw(Status.Active.GetIconHtmlTag()) Set as "Active"
                            </a>
                        </li>
                    }
                    if (Model.Status != Status.Completed)
                    {
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="@Url.Action("ChangeStatus",
                                        new { id = Model.ID, status = (int)Status.Completed })">
                                @Html.Raw(Status.Completed.GetIconHtmlTag()) Set as "Completed"
                            </a>
                        </li>
                    }
                    if (Model.Status != Status.Cancelled)
                    {
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="@Url.Action("ChangeStatus",
                                        new { id = Model.ID, status = (int)Status.Cancelled })">
                                @Html.Raw(Status.Cancelled.GetIconHtmlTag()) Set as "Cancelled"
                            </a>
                        </li>
                    }
                    if (Model.Status != Status.OnHold)
                    {
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="@Url.Action("ChangeStatus",
                                        new { id = Model.ID, status = (int)Status.OnHold })">
                                @Html.Raw(Status.OnHold.GetIconHtmlTag()) Set as "On Hold"
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>       
    </ul>    
    <div class="tab-content">
        <div class="tab-pane@(operation == Operation.ProjectInfo ? " active" : "")" id="tab-info">
            <div class="box box-danger">
                <div class="box-header">
                    <div class="box-title">
                        <i class="fa fa-fw @(Operation.ProjectInfo.GetAttributeIconCssClass())"></i>&nbsp;@(Operation.ProjectInfo.GetAttributeDisplayName())
                    </div>
                    @Html.Partial("Panels/ShortcutBars/_ProjectShortcutBar")
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    @Html.Partial("Details")
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
        <div class="tab-pane@(operation == Operation.EditProject ? " active" : "")" id="tab-edit">
            <div class="box box-danger">
                <div class="box-header">
                    <div class="box-title">
                        <i class="fa fa-fw @(Operation.EditProject.GetAttributeIconCssClass())"></i>&nbsp;@(Operation.EditProject.GetAttributeDisplayName())
                    </div>
                    @Html.Partial("Panels/ShortcutBars/_ProjectShortcutBar")
                </div><!-- /.box-header -->
                <div id="form-edit" class="box-body no-padding">
                    @Html.Partial("Edit")
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
        <div class="tab-pane@(operation == Operation.CreateTask ? " active" : "")" id="tab-create">
            <div class="box box-danger">
                <div class="box-header">
                    <div class="box-title">
                        <i class="fa fa-fw @(Operation.CreateTask.GetAttributeIconCssClass())"></i>&nbsp;@(Operation.CreateTask.GetAttributeDisplayName())
                    </div>
                    @Html.Partial("Panels/ShortcutBars/_ProjectShortcutBar")
                </div><!-- /.box-header -->
                <div id="form-create" class="box-body no-padding">
                    @Html.Partial("CreateTask")
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
        <div class="tab-pane@(operation == Operation.CreateSprint ? " active" : "")" id="tab-create-sprint">
            <div class="box box-danger">
                <div class="box-header">
                    <div class="box-title">
                        <i class="fa fa-fw @(Operation.CreateSprint.GetAttributeIconCssClass())"></i>&nbsp;@(Operation.CreateSprint.GetAttributeDisplayName())
                    </div>
                    @Html.Partial("Panels/ShortcutBars/_ProjectShortcutBar")
                </div><!-- /.box-header -->
                <div id="form-create-sprint" class="box-body no-padding">
                    @Html.Partial("CreateSprint")
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
        <div class="tab-pane@(operation == Operation.DeleteProject ? " active" : "")" id="tab-delete">
            <div class="box box-danger">
                <div class="box-header">
                    <div class="box-title">
                        <i class="fa fa-fw @(Operation.CreateTask.GetAttributeIconCssClass())"></i>&nbsp;@(Operation.CreateTask.GetAttributeDisplayName())
                    </div>
                    @Html.Partial("Panels/ShortcutBars/_ProjectShortcutBar")
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    @Html.Partial("Delete")
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var op = getUrlParameter('op');
        if (op) {
            loadTab(op);
        }
        //var chart = getUrlParameter('chart');
        //if (chart) {
        //    loadTab(chart);
        //}
        var table = getUrlParameter('table');
        if (table) {
            loadTab(table);
        }
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/dates")
}
@Styles.Render("~/Content/jqueryui")