@model GTDoro.ViewModels.DashboardViewModel
@using GTDoro.Models;

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/morris")
@Scripts.Render("~/Scripts/morris")

<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>
                    @Model.ActiveProjects.Count()
                </h3>
                <p>
                    Active Projects
                </p>
            </div>
            <div class="icon">
                <i class="fa fa-bullseye"></i>
            </div>
            <a class="small-box-footer" href="/Project?status-active=1">
                View list <i class="fa fa-fw fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-light-blue">
            <div class="inner">
                <h3>
                    @Model.ActiveTasks.Count()
                </h3>
                <p>
                    Active Tasks
                </p>
            </div>
            <div class="icon">
                <i class="fa fa-dot-circle-o"></i>
            </div>
            <a class="small-box-footer" href="/Task?status-active=1">
                View list <i class="fa fa-fw fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                    @Model.ActiveActions.Count()
                </h3>
                <p>
                    Active Actions
                </p>
            </div>
            <div class="icon">
                <i class="fa fa-circle"></i>
            </div>
            <a class="small-box-footer" href="/Action?status-active=1">
                View list <i class="fa fa-fw fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>
                    @Model.CompletedPomodoros.Count()
                </h3>
                <p>
                    Completed Work units
                </p>
            </div>
            <div class="icon">
                <i class="fa fa-wrench"></i>
            </div>
            <a class="small-box-footer" href="/Reports">
                Work history <i class="fa fa-fw fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
    
</div><!-- /.row -->
<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <section id="dashboard-datatables" class="col-lg-6">
        <div class="gt-dt-container height-5rows">
            @Html.Partial("DataTables/_PomodoroContainerDataTable", Model.LastActiveActions)
        </div>
        <div class="gt-dt-container height-5rows">
            @*@Html.Partial("DataTables/_PomodoroContainerDataTable", Model.UpcomingPlanifiedActions)*@
            @Html.Partial("DataTables/_PomodoroContainerDataTable", Model.LastCreatedActions)
        </div>        
        <div class="gt-dt-container height-5rows">
            @Html.Partial("DataTables/_PomodoroContainerDataTable", Model.UpcomingDeadlines)
        </div>        
        @*<div class="gt-datatables height-5rows">
            @Html.Partial("DataTables/_PomodoroContainerDataTable", Model.LastActiveTasks)
        </div>*@        
    </section><!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section id="dashboard-graphic-info" class="col-lg-6">
        @Html.Partial("Calendars/_CalendarMini", Model.MyWorkspace.GetCalendarViewModel(false, 310))
        <!-- LINE CHART -->        
        <!-- Map box -->
        <div class="box box-warning">
            @Html.Partial("Charts/_MorrisDonutChart", Model.WorkDivisionViewModel)
            @*@Html.Partial("Charts/_MorrisTabbedDonutChart", Model.WorkDivisionViewModels)*@
        </div>        
        <div class="box box-warning">
            @Html.Partial("Charts/_MorrisLineChart", Model.WorkAmountChartViewModel)
        </div>
</section><!-- right col -->
</div><!-- /.row (main row) -->

@Styles.Render("~/Content/dataTables")
@Scripts.Render("~/Scripts/dataTables")