@model GTDoro.Models.SearchResults
@{
string elementID = ViewBag.ElementID ?? "id";
}

@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/jqueryui")
@Scripts.Render("~/Scripts/jqueryui/combobox/js")
@Styles.Render("~/Content/jqueryui/combobox/css")
<span id="autocomplete-container">
    @Html.DropDownList(elementID, String.Empty)
</span>
<script type="text/javascript">
    $(document).ready(function () {
        $('#autocomplete-container select').combobox();
        // clear: $('#ActionID').combobox('value', null);
        // set: $('#ActionID').combobox('value', 'NY');
        // get: $('#ActionID').combobox('value');
        @*@if (ViewBag.SelectedActionID != null)
        {
            @Html.Raw("$('#ActionID').combobox('value', '" + ViewBag.SelectedActionID + "');");
        }*@
        var width = $($('.ui-autocomplete-input').parents('div')[0]).width() - 105 + 'px';
        $('.ui-autocomplete-input').css('max-width',  $(document).width() - 285 + 'px');
        //$('.ui-autocomplete-input').css('max-width', $($('.ui-autocomplete-input').parents('div')[0]).width() - 105 + 'px');
    });
</script>
