@model GTDoro.Models.Action
@using GTDoro.Models;
@using GTDoro.ExtensionMethods;
@using Action = GTDoro.Models.Action;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Action";
    ViewBag.ItemDesc = Model.ItemName;
    ViewBag.BreadcrumbList = new List<string> 
    { 
        Html.ActionLink(Model.Task.Project.ItemName, "Details", "Project", new { id = Model.Task.ProjectID }, null).ToHtmlString(),
        Html.ActionLink(Model.Task.ItemName, "Details", "Task", new { id = Model.TaskID }, null).ToHtmlString(),
        Html.ActionLink(Model.ItemName, "Details", "Action", new { id = Model.ID }, null).ToHtmlString()
    };
    Operation operation = (Operation)ViewBag.Operation;
}
@Styles.Render("~/Content/morris")
@Scripts.Render("~/Scripts/morris")
<div id="action-layout">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section id="top-left" class="col-lg-7">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="@(operation == Operation.ActionInfo ? "active" : "")">
                        <a href="../Details/@(Model.ID)" @*data-toggle="tab"*@>
                            <i class="fa fa-fw @(Operation.ActionInfo.GetAttributeIconCssClass())"></i> Info
                        </a>
                    </li>
                    <li class="@(operation == Operation.EditAction ? "active" : "")">
                        <a href="../Edit/@(Model.ID)" @*data-toggle="tab"*@>
                            <i class="fa fa-fw @(Operation.EditAction.GetAttributeIconCssClass())"></i> Edit
                        </a>
                    </li>
                    <li class="@(operation == Operation.DeleteAction ? "active" : "")">
                        <a href="../Delete/@(Model.ID)" @*data-toggle="tab"*@>
                            <i class="fa fa-fw @(Operation.DeleteAction.GetAttributeIconCssClass())"></i> Delete
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-fw fa-gear"></i> Options <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @{
                                if (Model.Status != Status.Active)
                                {
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="@Url.Action("ChangeStatus",
                                    new { id = Model.ID, status = (int)Status.Active })">
                                            @Html.Raw(Status.Active.GetIconHtmlTag()) Set as "Active"
                                        </a>
                                    </li>
                                }
                                if (Model.Status != Status.Completed)
                                {
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="@Url.Action("ChangeStatus",
                                    new { id = Model.ID, status = (int)Status.Completed })">
                                            @Html.Raw(Status.Completed.GetIconHtmlTag()) Set as "Completed"
                                        </a>
                                    </li>
                                }
                                if (Model.Status != Status.Cancelled)
                                {
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="@Url.Action("ChangeStatus",
                                    new { id = Model.ID, status = (int)Status.Cancelled })">
                                            @Html.Raw(Status.Cancelled.GetIconHtmlTag()) Set as "Cancelled"
                                        </a>
                                    </li>
                                }
                            }
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a class="select" href="@Url.Action("ItemSelector", "Search",
                            new { type = PomodoroContainerType.Task, target = ItemSelectorTarget.ChangeParentItem, SourceItemID = Model.ID })">
                                    <i class="fa fa-fw fa-dot-circle-o gt-operation" title="Change Task"></i> Change Task
                                </a>
                            </li>
                            @if (Model.IsSelectable && Model.Task.Project.User.ActionID != Model.ID)
                            {
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a href="@Url.Action("Select", "Action", new { id = Model.ID })">
                                        <i class="fa fa-fw fa-play gt-operation" title="Select to Work"></i> Select to Work
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="box box-success">
                        <div class="box-header">
                            <div class="box-title">
                                <i class="fa fa-fw @(operation.GetAttributeIconCssClass())"></i>&nbsp;@(operation.GetAttributeDisplayName())
                            </div>
                            <div class="box-title pull-right">
                                <a title="Go to Task" href="@Url.Action("Details", "Task", new { id = Model.TaskID })">
                                    <i class="fa fa-fw fa-arrow-up"></i>
                                </a>
                                @if (Model.NextSibling != null)
                                {
                                    <a title="Go to Next Action" href="@Url.Action("Details", "Action", new { id = ((Action)Model.NextSibling).ID })">
                                        <i class="fa fa-fw fa-arrow-right"></i>
                                    </a>
                                }
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body no-padding">
                            @RenderBody()
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </section>
        <section id="top-right" class="col-lg-5">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab-calendar" data-toggle="tab">
                            <i class="fa fa-fw @(Operation.Calendar.GetAttributeIconCssClass())"></i> @(Operation.Calendar.GetAttributeDisplayName())
                        </a>
                    </li>
                    <li>
                        <a href="#tab-work-amount-chart" class="chart-tab-link" data-identifier="line" data-toggle="tab">
                            <i class="fa fa-fw @(Operation.WorkAmount.GetAttributeIconCssClass())"></i> @(Operation.WorkAmount.GetAttributeDisplayName())
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-calendar">
                        @Html.Partial("Calendars/_CalendarMini", Model.CalendarViewModel)
                    </div>
                    <div class="tab-pane" id="tab-work-amount-chart">
                        @Html.Partial("Containers/_ChartWorkAmount")
                    </div>
                </div>
            </div>

        </section>
    </div>

    <section id="bottom">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab-work-history" data-toggle="tab">
                        <i class="fa fa-fw @(Operation.WorkHistory.GetAttributeIconCssClass())"></i> @(Operation.WorkHistory.GetAttributeDisplayName())
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-work-history">
                    <div class="tab-pane active" id="tab-work-history">
                        <div class="box box-warning">
                            <div class="box-header">
                                <div class="box-title"><i class="fa fa-fw @(Operation.WorkHistory.GetAttributeIconCssClass())"></i> @(Operation.WorkHistory.GetAttributeDisplayName())</div>
                            </div><!-- /.box-header -->
                            <div class="box-body no-padding">
                                @*@{ViewBag.ContainerType = PomodoroContainerType.Project;}*@
                                @Html.Partial("Collections/_PomodoroSets", Model.PomodoroSets)
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $('#top-right ul.nav a.chart-tab-link').on('shown.bs.tab', function (e) {
        var types = $(this).attr("data-identifier");
        var typesArray = types.split(",");
        $.each(typesArray, function (key, value) {
            eval(value + ".redraw()");
        })
    });
</script>

@RenderSection("scripts", required: false)
