@model GTDoro.Models.Action

@{
    ViewBag.Title = "Planify";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Planify</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Action</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        @{
            int? ActionID = null;
            if(Model != null)
            {
                ActionID =  Model.ID;
            }
        }
        @Html.Action("AutocompleteActions", "Search", new { ActionID = ActionID })
        <br/>
        <span>Date</span>
        @Html.TextBox("dateFrom", null , new { @class="datefield" })

        <span>Time From</span>
        @Html.DropDownList("startTimePeriod")

        <span>Time To</span>
        @Html.DropDownList("endTimePeriod")

        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Task.Project.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Task.Project.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Task.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Task.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Estimate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estimate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Deadline)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Deadline)
            </dd>
        </dl>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" name="submitButton" />
                <input type="submit" value="Check" class="btn btn-default" name="submitButton" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/dates")
}
@Styles.Render("~/Content/jqueryui")