@model GTDoro.Models.Action

@{
    ViewBag.Title = "Planify";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Planify</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Action</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        @{
            int? ActionID = null;
            if(Model != null)
            {
                ActionID =  Model.ID;
            }
        }
        @Html.Action("AutocompleteActions", "Search", new { ActionID = ActionID })

        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Task.Project.Name)
            </dt>
            <dd>
                <span class="gt-project">@Html.DisplayFor(model => model.Task.Project.Name)</span>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Task.Name)
            </dt>
            <dd>
                <span class="gt-task">@Html.DisplayFor(model => model.Task.Name)</span>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                <span class="gt-action">@Html.DisplayFor(model => model.Name)</span>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Estimate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estimate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Deadline)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Deadline)
            </dd>
        </dl>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
